#canvas {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
}

#canvasToolbarContainer {
    width: 40px;
    margin: 0;
    padding-left: 10px;
    background: lightgray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.toolIcon {
    width: 30px;
    height: 30px;
}

.toolIcon:hover {
    cursor: pointer;
}



#colorWheel {
    margin-top: 10px;
    /* border: 1px solid black; */
    background: lightgray;
}

#colorWheel:hover {
    cursor: url(/cursor/cursor_eyedropper.png) 2 15, pointer;
}

#canvasLayout {
    display: flex;
    /* justify-content: flex-start; */
    height: 400px;
    margin: 0px 10px;
}

#colorCanvasHolder {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0px 10px;
    background: lightgray;
}
