.buttonNav {
    background: #357784;
    color: white;
    padding: 7.5px 15px;
    border-radius: 25px; 
    font-weight: bold;
    margin-left: 10px;
    font-size: 12px;
}

.buttonSignup {
    composes: buttonNav;
    text-decoration: none;
}

.buttonLogin {
    composes: buttonNav; 
    text-decoration: none;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbuttonContainer {
    display: flex;
    justify-content: space-between;

}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 860px;
}

.appName {
    color: white;
}