.canvas {
    width: 80vw;
    height: 40vw;
}

.canvasContainer {
    width: 860px; 
    height: 600px; 
    margin: 0 auto;
}

.cradleTitle, .cradleAuthor {
    line-height: 0;
    color: #BABABA;
}

.canvasBodyContainer {
    margin-top: 50px;
}
